<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesrskemp.workouttracker" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jamesrskemp.workouttracker.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateBodyWeightActivity"
            android:label="@string/title_activity_create_body_weight"
            android:parentActivityName="com.jamesrskemp.workouttracker.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jamesrskemp.workouttracker.MainActivity" />
        </activity>
        <activity
            android:name=".BodyWeightHistoryActivity"
            android:label="@string/title_activity_body_weight_history"
            android:parentActivityName="com.jamesrskemp.workouttracker.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jamesrskemp.workouttracker.MainActivity" />
        </activity>
    </application>

</manifest>
